html body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(245, 245, 219,0.4);
}

/*Navigation bar style*/
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: rgb(215, 232, 226);
  top: 0;
  width: 100%;
  height: auto;
  border-bottom: 1px ridge grey;
  box-shadow: 0 1px rgb(160, 173, 179);
}

ul.nav li {
  float: left;
  text-align: center;
}

ul.nav li img {
  width: 40px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 0;
}

ul.nav li a.logo {
  display: block;
  margin-left: 30px;
  margin-right: 50px;
  padding: 0;
}

ul.nav li a.button {
  display: block;
  color: rgb(7, 71, 131);
  text-align: center;
  margin: 10px 8px 15px 15px;
  padding: 8px;
  text-decoration: none;
  width: 60px;
  height: auto;
  border-radius: 15px;
  border: 2px solid rgb(7, 71, 131);
}

ul.nav li a.button:hover {
  background-color: rgb(7, 71, 131);
  color: white;
  box-shadow: 1.5px 1.5px rgb(82, 180, 219);
}

/*Resume downloading*/
ul.nav li.resume-li {
  float: right;
  margin-right: 50px;
}

ul.nav li a.resume {
  display: block;
  text-align: center;
  margin: 10px 0px 8px 8px;
  padding: 8px;
  text-decoration: none;
  width: 60px;
  height: auto;
  border-radius: 15px;
  color: rgb(7, 131, 83);
  border: 2px solid rgb(7, 131, 83);
}

ul.nav li a.resume:hover {
  color: white;
  background-color: rgb(7, 131, 83);
  box-shadow: 1.5px 1.5px rgb(132, 230, 166);
}

/*Social Media Icon*/
ul.nav li.icon-li {
  float: right;
}

ul.nav li.icon-li a {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav li.icon-li a.icon-github img {
  max-width: 80%;
  height: auto;
  margin: 2px;
}

ul.nav li.icon-li a.icon-linkedin img {
  max-width: 80%;
  height: auto;
  margin: 2px;
}


/*Homepage style*/
.homepage-container {
  width: 100%;
  height: auto;
}

.section-homepage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 600px;
  margin-top: 64px;
  border-bottom: 2px solid lightgray;
  box-shadow: 0 1px gray;
}

.section-homepage img {
  width: 20%;
  height: auto;
}

.section-homepage h1 {
  text-align: center;
}

.section-homepage h1 .subtitle {
  font-size: 80%;
  font-style: normal;
}

.section-homepage h1 .link-button {
  background-color: rgba(245, 245, 219,0.3);
  display: inline-block;
  color: rgb(7, 71, 131);
  text-decoration: none;
  margin-top: 25px;
  padding: 10px;
  font-size: 70%;
  border: 2px solid rgb(7, 71, 131);
  border-radius: 10px;
}

.section-homepage h1 .link-button:hover {
  background-color: rgb(7, 71, 131);
  color: white;
  box-shadow: 1.5px 1.5px rgb(82, 180, 219);
}

/*About and Skills section layout*/
.about-skills-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 2px solid lightgray;
  box-shadow: 0px 1px gray;
  background-color: rgba(245, 245, 219,0.3);
  padding-top: 64px;
  padding-bottom: 64px;
}

/*About section style*/
.section-about {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.section-about h1 {
  text-align: center;
}

.section-about .subtitle {
  list-style-type: circle;
  text-align: left;
  margin: 10px 50px 10px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-about .subtitle li {
  margin-top: 10px;
  padding: auto;
}

.section-about .link-button {
  background-color: rgba(245, 245, 219,0.4);
  color: rgb(7, 71, 131);
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid rgb(7, 71, 131);
  border-radius: 10px;
  text-decoration: none;
}

.section-about .link-button:hover {
  background-color: rgb(7, 71, 131);
  color: white;
  box-shadow: 1.5px 1.5px rgb(82, 180, 219);
}

/*Skills section style*/
.section-skills {
  flex: 1;
  display: flex;
  align-self: center;
  flex-flow: row nowrap;
  justify-content:center;
  align-items: center;
  overflow: hidden;
  padding-top: 64px;
}

.section-skills ul.coding {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  padding: 0;
}

.section-skills ul.coding li.skill-title {
  grid-column: 1 / 3;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-skills ul.coding li.skill-title img {
  margin: 10px;
  padding: 5px;
}

.section-skills ul.coding li.skill-title span {
  margin: 10px;
  padding: 5px;
  font-size: 150%;
}

.section-skills ul.coding li:not(.skill-title) {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  border-color: lightgrey;
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
}

.section-skills ul.competence {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.section-skills ul.competence li.skill-title {
  grid-column: 1 / 3;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-skills ul.competence li.skill-title img {
  margin: 10px;
  padding: 5px;
}

.section-skills ul.competence li.skill-title span {
  margin: 10px;
  padding: 5px;
  font-size: 150%;
}

.section-skills ul.competence li:not(.skill-title) {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  border-color: lightgrey;
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
}

/*Projects section style*/
.section-projects {
  border-bottom: 2px solid lightgray;
  box-shadow: 0px 1px gray;
  background-color: rgba(245, 245, 219,0.3);
}

.project-section-title {
  text-align: center;
  font-size: 200%;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

div.project-card {
  flex: 1;
  width: 80%;
  background-color: rgba(245, 245, 219,0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

div.project-card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: grab;
}

div.project-card a {
  text-decoration: none;
  color: rgb(7, 71, 131);
}

div.project-card a img {
  max-width: 100%;
}

div.project-description {
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(245, 245, 219,0.3);
}

/*Contact section style*/
.contact-container {
  width: 100%;
  height: auto;
}
.section-contact {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
  border-bottom: 2px solid lightgray;
  box-shadow: 0px 1px gray;
  background-color: rgba(245, 245, 219,0.6);
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-contact .contact-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
}

.section-contact .contact-list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

.section-contact .contact-list li {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.section-contact .resume-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.section-contact .resume-button {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
}

/*Beck to top button style*/
.back-to-top {
  position: fixed;
  bottom: 10%;
  right: 2%;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.back-to-top:hover {
  background-color: rgba(245, 245, 219,0.2);
  box-shadow: 1px 1px lightgray;
}

/*Footer Style*/
footer {
  width: 100%;
  height: 50px;
  color: rgb(7, 71, 131);
  background-color: rgb(215, 232, 226);
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
}

/*Responsive Design*/
@media only screen and (max-width: 920px) {
/*Navagation bar*/
  ul.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    height: 100%;
  }

  ul.nav li {
    font-size: 150%;
    margin: 2px;
    padding: 2px;
  }

  ul.nav li.resume-li {
    border-style: none;
    margin: 2px;
    padding: 2px;
  }

  ul.nav li.icon-li {
    margin: 2px;
    padding: 2px;
  }
  
  ul.nav li a.logo {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul.nav li a.button {
    border-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul.nav li a.button:hover {
    background-color: white;
    color: rgb(7, 71, 131);
    box-shadow: 0 1.5px rgb(82, 180, 219);
    text-shadow: 1px 1px rgb(82, 180, 219);
  }

  ul.nav li a.resume {
    border-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul.nav li a.resume:hover {
    background-color: white;
    color: rgb(7, 131, 83);
    box-shadow: 0 1.5px rgb(132, 230, 166);
    text-shadow: 1px 1px rgb(132, 230, 166);
  }

  ul.nav li a.icon {
    margin: 0;
    padding: 0;
  }
  
  /*Homepage*/
  .section-homepage {
    flex-flow: column-reverse wrap;
    position: relative;
    width: 85%;
    left: 15%;
    margin: 0;
    min-height: 500px;
  }

  /*About and Skills section layout*/
  .about-skills-container {
    flex-flow: column nowrap;
  }

  /*About section*/
  .section-about {
    flex-flow: column nowrap;
    position: relative;
    width: 85%;
    left: 15%;
    margin: 0;
  }

  /*Skills section*/
  .section-skills {
    position: relative;
    justify-content: center;
    width: 85%;
    left: 8%;
    margin: 0;
  }

  /*Projects section*/
  .project-section-title {
    font-size: 180%;
    position: relative;
    width: 85%;
    left: 15%;
  }

  .project-container {
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    width: 85%;
    left: 15%;
    margin: 0;
  }

  div.project-card {
    width: 70%;
  }

  /*Contact section*/
  .section-contact {
    position: relative;
    width: 85%;
    left: 15%;
    margin: 0;
  }

  /*Footer Style*/
  footer {
    position: relative;
    width: 85%;
    left: 15%;
    margin: 0;
  }
}



@media screen and (max-width: 600px) {
/*Navigation bar*/
  ul.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  ul.nav li {
    font-size: 100%;
    margin: auto;
  }

  ul.nav li img {
    width: 20px;
    height: auto;
    padding-top: 0;
  }

  ul.nav li.resume-li {
    border-style: none;
    margin: auto;
  }

  ul.nav li.icon-li {
    margin: auto;
  }
  
  ul.nav li a.logo {
    width: 100%;
    margin: auto;
  }

  ul.nav li a.button {
    border-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul.nav li a.button:hover {
    background-color: white;
    color: rgb(7, 71, 131);
    box-shadow: 0 1.5px rgb(82, 180, 219);
    text-shadow: 1px 1px rgb(82, 180, 219);
  }

  ul.nav li a.resume {
    border-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul.nav li a.resume:hover {
    background-color: white;
    color: rgb(7, 131, 83);
    box-shadow: 0 1.5px rgb(132, 230, 166);
    text-shadow: 1px 1px rgb(132, 230, 166);
  }

  ul.nav li a.icon {
    margin: 0;
    padding: 0;
  }

  ul.nav li.icon-li a.icon-github img {
    max-width: 50%;
  }
  
  ul.nav li.icon-li a.icon-linkedin img {
    max-width: 50%;
  }
  
  /*Homepage*/
  .section-homepage {
    flex-flow: column-reverse wrap;
    width: 100%;
    left: 0;
    min-height: auto;
  }

  .section-homepage h1 {
    font-size: 90%;
  }

  .section-homepage h1 .subtitle {
    font-size: 60%;
    font-style: normal;
  }

  /*About page*/
  .section-about {
    flex-flow: column nowrap;
    width: 100%;
    left: 0;
  }

  .section-about h1 {
    font-size: 90%;
  }
  
  .section-about .subtitle {
    font-size: 80%;
  }

  .section-about .subtitle li {
    margin-top: 2px;
  }

  /*Skills page*/
  .section-skills {
    flex-flow: row wrap;
    width: 100%;
    left: 0;
  }

  .section-skills ul.coding li.skill-title span {
    margin: 10px;
    padding: 5px;
    font-size: 125%;
  }

  .section-skills ul.coding li:not(.skill-title) {
    font-size: 80%;
    margin: 5px;
    padding: 5px;
  }

  .section-skills ul.competence li.skill-title span {
    margin: 10px;
    padding: 5px;
    font-size: 125%;
  }

  .section-skills ul.competence li:not(.skill-title) {
    font-size: 80%;
    margin: 5px;
    padding: 5px;
  }

  /*Back to top button shows up.*/
  .back-to-top {
    display: initial;
  }

  /*Projects section*/
  .project-section-title {
    font-size: 125%;
    position: relative;
    width: 100%;
    left: 0;
  }

  .project-container {
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 0;
  }

  div.project-card {
    width: 60%;
    left: 0;
  }

  /*Contact section*/
  .section-contact {
    column-gap: 10px;
    width: 100%;
    left: 0;
  }

  .section-contact .contact-list li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .section-contact .contact-title {
    font-size: 95%;
  }
  
  .section-contact .resume-title {
    font-size: 95%;
  }

  /*Footer Style*/
  footer {
    position: relative;
    width: 100%;
    left: 0;
  }
}